<!DOCTYPE html>

<html class="app-ui">

    <head>
        <!-- Meta -->
        <% include partial/head %>
        <!-- Page JS Plugins CSS -->
        <link rel="stylesheet" href="assets/js/plugins/slick/slick.min.css" />
        <link rel="stylesheet" href="assets/js/plugins/slick/slick-theme.min.css" />
        <!-- End Stylesheets -->
    </head>

    <body class="app-ui">
        <div class="app-layout-canvas">
            <div class="app-layout-container">

                <!-- Header -->
                <header class="app-layout-header">
                    <nav class="navbar navbar-default p-y">
                        <div class="container">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#header-navbar-collapse" aria-expanded="false">
                        				<span class="sr-only">Toggle navigation</span>
                        					<span class="icon-bar"></span>
                        					<span class="icon-bar"></span>
                        					<span class="icon-bar"></span>
                        				</button>
                                <% include partial/user-header %>

                <main class="app-layout-content">

                    <!-- Page header -->
                    <div class="page-header bg-app bg-inverse">
                        <div class="container">
                            <!-- Section Content -->
                            <div class="p-a-0 text-center col-sm-8">

                                <div class="card">
                                    <div class="card-block p-a-0">
                                        <!-- Slider with autoplay -->
                                        <div class="js-slider" data-slider-dots="true" data-slider-autoplay="true" data-slider-autoplay-speed="3000">
                                            <div>
                                                <img class="img-responsive" src="assets/img/photos/cup.jpg" alt="" />
                                            </div>
                                            <div>
                                                <img class="img-responsive" src="assets/img/photos/cup3.jpg" alt="" />
                                            </div>
                                            <div>
                                                <img class="img-responsive" src="assets/img/photos/cup4.jpg" alt="" />
                                            </div>
                                        </div>
                                        <!-- End Slider with autoplay -->
                                    </div>
                                </div>
                            </div>
                            <!-- End Section Content -->
                            <div class="col-lg-4 col-lg-3">
                                <div class="card">
                                    <div class="js-slider slick-padding-dots" data-slider-autoplay="true" data-slider-dots="true" data-slider-autoplay-speed="3000">
                                        <div>
                                            <img class="img-responsive" src="assets/img/photos/photo5.jpg" alt="" />
                                            <div class="text-center">
                                              <h6 class="label label-app">CST</h6>
                                              <h6 class="label label-app"><%= cst%><em> Students</em></h6>
                                            </div>
                                        </div>
                                        <div>
                                            <img class="img-responsive" src="assets/img/photos/photo4.jpg" alt="" />
                                            <div class="text-center">
                                              <h6 class="label label-app">CS</h6>
                                              <h6 class="label label-app"><%= cs%><em>Students</em></h6>
                                            </div>
                                        </div>
                                        <div>
                                            <img class="img-responsive" src="assets/img/photos/photo3.jpg" alt="" />
                                            <div class="text-center">
                                              <h6 class="label label-app">CT</h6>
                                              <h6 class="label label-app"><%= ct%><em>Students</em></h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-lg-3">
                                <div class="card">
                                    <div class="js-slider slick-padding-dots" data-slider-autoplay="true" data-slider-dots="true" data-slider-autoplay-speed="2000">
                                        <div>
                                            <img class="img-responsive" src="assets/img/photos/pho2.jpg" alt="" />
                                            <div class="text-center">
                                              <h6 class="label label-app">English Deparment</h6>
                                              <h6 class="label label-app"><%= english %>teachers</h6>
                                            </div>
                                        </div>
                                        <div>
                                            <img class="img-responsive" src="assets/img/photos/pho1.jpg" alt="" />
                                            <div class="text-center">
                                              <h6 class="label label-app">Math Deparment</h6>
                                              <h6 class="label label-app"><%= maths %>teachers</h6>
                                            </div>
                                        </div>
                                        <div>
                                            <img class="img-responsive" src="assets/img/photos/photo3.jpg" alt="" />
                                            <div class="text-center">
                                              <h6 class="label label-app">Physic Deparment</h6>
                                              <h6 class="label label-app"><%= physic %>teachers</h6>
                                            </div>
                                        </div>
                                        <div>
                                            <img class="img-responsive" src="assets/img/photos/photo5.jpg" alt="" />
                                            <div class="text-center">
                                              <h6 class="label label-app">CT Deparment</h6>
                                              <h6 class="label label-app"><%= hardware %>teachers</h6>
                                            </div>
                                        </div>
                                        <div>
                                            <img class="img-responsive" src="assets/img/photos/photo4.jpg" alt="" />
                                            <div class="text-center">
                                              <h6 class="label label-app">CS Deparment</h6>
                                              <h6 class="label label-app"><%= software %> teachers</h6>
                                            </div>
                                        </div>
                                        <div>
                                            <img class="img-responsive" src="assets/img/photos/photo3.jpg" alt="" />
                                            <div class="text-center">
                                              <h6 class="label label-app">Information Science Deparment</h6>
                                              <h6 class="label label-app"><%= is %>teachers</h6>
                                            </div>
                                        </div>
                                        <div>
                                            <img class="img-responsive" src="assets/img/photos/photo3.jpg" alt="" />
                                            <div class="text-center">
                                              <h6 class="label label-app">Application Deparment</h6>
                                              <h6 class="label label-app"><%= applicaton %>teachers</h6>
                                            </div>
                                        </div>
                                        <div>
                                            <img class="img-responsive" src="assets/img/photos/photo3.jpg" alt="" />
                                            <div class="text-center">
                                              <h6 class="label label-app">Myanmar Deparment</h6>
                                              <h6 class="label label-app"><%= myanmar %>teachers</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Page header -->

                    <!-- Categories -->
                    <div class="page-content bg-white">
                        <div class="container">
                          <div class="row">
                              <div class="col-sm-6 col-lg-4">
                                  <a class="card" href="/signin">
                                      <div class="card-block text-center bg-img" style="background-image: linear-gradient(rgba(0, 0, 0, 0.303), rgba(0, 0, 0, 0.303)), url('/images/students.jpg');">
                                          <img class="img-avatar img-avatar-96 img-avatar-thumb" src="/images/student.png" alt="" />
                                      </div>
                                      <div class="card-block text-center">
                                          <p class="h6 profile-title m-b-xs">Student Login</p>
                                          <p class="small text-muted">Click to login</p>
                                      </div>
                                  </a>
                              </div>
                              <div class="col-sm-6 col-lg-4">
                                  <a class="card" href="/login">
                                      <div class="card-block text-center bg-img" style="background-image: linear-gradient(rgba(0, 0, 0, 0.303), rgba(0, 0, 0, 0.303)),url('/images/teacherbg.jpg');">
                                          <img class="img-avatar img-avatar-96 img-avatar-thumb" src="/images/teacher.png" alt="" />
                                      </div>
                                      <div class="card-block text-center">
                                          <p class="h6 profile-title m-b-xs">Teacher Login</p>
                                          <p class="small text-muted">Click to login</p>
                                      </div>
                                  </a>
                              </div>
                              <div class="col-sm-6 col-lg-4">
                                  <a class="card" href="/adsignin">
                                      <div class="card-block text-center bg-img" style="background-image: linear-gradient(rgba(0, 0, 0, 0.303), rgba(0, 0, 0, 0.303)), url('/images/adminbg.jpg');">
                                          <img class="img-avatar img-avatar-96 img-avatar-thumb" src="/images/admin.png" alt="" />
                                      </div>
                                      <div class="card-block text-center">
                                          <p class="h6 profile-title m-b-xs">Admin Login</p>
                                          <p class="small text-muted">Click to login</p>
                                      </div>
                                  </a>
                              </div>
                            </div>

                    <!-- End Section Content -->
                </div>
            </div>
                    <!-- End Categories -->

                </main>

                <footer class="app-layout-footer">
                    <div class="container p-y-md">
                        <div class="pull-right hidden-sm hidden-xs">
                            <a href="https://shapebootstrap.net/item/1525731-appui-admin-frontend-template/?ref=rustheme" target="_blank" rel="nofollow">Purchase a license</a>
                        </div>
                        <div class="pull-left text-center text-md-left">
                            AppUI &copy; <span class="js-year-copy"></span>
                        </div>
                    </div>
                </footer>

            </div>
            <!-- .app-layout-container -->
        </div>
        <!-- .app-layout-canvas -->

        <!-- Apps Modal -->
        <!-- Opens from the button in the header -->

        <!-- End Apps Modal -->

        <% include partial/script %>
        <script src="/assets/js/plugins/slick/slick.min.js"></script>

        <!-- Page JS Code -->
        <script>
            $(function()
            {
                // Init page helpers (Slick Slider plugin)
                App.initHelpers('slick');
            });
        </script>

    </body>

</html>
