<!DOCTYPE html>

<html class="app-ui">

    <head>
        <!-- Meta -->
        <% include ../../partial/head %>
        <!-- End Stylesheets -->
        <link rel="stylesheet" href="/stylesheets/jquery.dataTables.min.css">
    </head>

    <body class="app-ui">
        <div class="app-layout-canvas">
            <div class="app-layout-container">

                <!-- Header -->
                <header class="app-layout-header">
                    <nav class="navbar navbar-default p-y">
                        <div class="container">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#header-navbar-collapse" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
                                <% include ../../partial/user-header %>

                <main class="app-layout-content">

                    <!-- Page header -->
                    <div class="page-header bg-app bg-inverse">
                        <div class="container">
                            <!-- Section Content -->
                            <div class="p-y-lg text-center">
                                <h1 class="display-2">Management Attendance</h1>

                                <!-- Search form -->
                                <!-- <div class="row m-t">
                                    <div class="col-sm-6 col-sm-offset-3">
                                        <form action="frontend_search.html" method="post">
                                            <div class="input-group input-group-lg">
                                                <input class="form-control" type="text" placeholder="Search support.." />
                                                <div class="input-group-btn">
                                                    <button class="btn btn-default"><i class="ion-ios-search-strong"></i></button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div> -->
                                <!-- End search form -->
                            </div>
                            <!-- End Section Content -->
                        </div>
                    </div>
                    <!-- End Page header -->

                    <!-- Categories -->
                    <div class="page-content bg-white">
                        <div class="container">
                    <div class="row">
                        <div class="col-sm-12 col-sm-offset-1">
                            <!-- Introduction -->
                            <h2 class="h2 m-t-lg m-b"> <strong><%= cla.toUpperCase() %></strong>  Attendance List</h2>
                            <h2 class="h3 m-t-lg m-b"><%= subj %></h2>
                            <!-- Classic table -->
                            <div class="col-lg-12 col-lg-1">
                              <table id="example" class="cell-border" style="width:100%">
                              <thead>
                                  <tr>
                                      <th>RollNo</th>
                                      <th>Student Name</th>
                                      <th>December</th>
                                      <th>January</th>
                                      <th>February</th>
                                      <th>March</th>
                                      <th>June</th>
                                      <th>July</th>
                                      <th>Auguest</th>
                                      <th>September</th>
                                      <th>Total</th>
                                  </tr>
                              </thead>
                              <tbody>
                                <% for(var i = 0; i< stu.length; i++){ var m1=0,m2=0,m3=0,m4=0,m5=0,m6=0,m7=0,m8=0,c1=0,c2=0,c3=0,c4=0,c5=0,c6=0,c7=0,c8 = 0;%>
                                  <% for(var j = 0; j< data.length; j++){%>
                                    <% if(data[j].student_id.equals(stu[i]._id)){%>
                                      <% if(data[j].month == "0"){%>
                                        <% m1 += data[j].attendance_count; c1 += data[j].total_count;%>
                                      <%} else if(data[j].month == "1"){%>
                                        <% m2 += data[j].attendance_count; c2 += data[j].total_count;%>
                                      <%} else if(data[j].month == "2"){%>
                                          <% m3 += data[j].attendance_count; c3 += data[j].total_count;%>
                                      <%} else if(data[j].month == "5"){%>
                                          <% m4 += data[j].attendance_count; c4 += data[j].total_count;%>
                                      <%} else if(data[j].month == "6"){%>
                                          <% m5 += data[j].attendance_count; c5 += data[j].total_count;%>
                                      <%} else if(data[j].month == "7"){%>
                                          <% m6 += data[j].attendance_count; c6 += data[j].total_count;%>
                                      <%} else if(data[j].month == "8"){%>
                                          <% m7 += data[j].attendance_count; c7 += data[j].total_count;%>
                                      <%} else if(data[j].month == "11"){%>
                                        <% m8 += data[j].attendance_count; c8 += data[j].total_count;%>
                                      <%} else{%>
                                      <%}%>
                                      <%}%>
                                    <%}%>
                                <tr>
                                      <td><%= stu[i].roll%></td>
                                      <td><%= stu[i].name %></td>
                                      <td><%= (c8 != 0)? Math.floor((m8/c8)*100): 0 %> %</td>
                                      <td><%= (c1 != 0)? Math.floor((m1/c1)*100): 0 %> %</td>
                                      <td><%= (c2 != 0)? Math.floor((m2/c2)*100): 0 %> %</td>
                                      <td><%= (c3 != 0)? Math.floor((m3/c3)*100): 0 %> %</td>
                                      <td><%= (c4 != 0)? Math.floor((m4/c4)*100): 0 %> %</td>
                                      <td><%= (c5 != 0)? Math.floor((m5/c5)*100): 0 %> %</td>
                                      <td><%= (c6 != 0)? Math.floor((m6/c6)*100): 0 %> %</td>
                                      <td><%= (c7 != 0)? Math.floor((m7/c7)*100): 0 %> %</td>
                                      <td><%=  Math.floor(((m8+m2+m3+m4+m5+m6+m7+m1)/(c8+c1+c3+c4+c5+c6+c7+c2))*100) %> %</td>

                                </tr>
                              <%}%>
                              </tbody>
                              <tfoot>
                                <tr>
                                    <th>Student Name</th>
                                    <th>RollNo</th>
                                    <th>December</th>
                                    <th>January</th>
                                    <th>February</th>
                                    <th>March</th>
                                    <th>June</th>
                                    <th>July</th>
                                    <th>Auguest</th>
                                    <th>September</th>
                                    <th>Total</th>
                                </tr>
                              </tfoot>
                          </table>

                            </div>
                            <!-- .card -->
                            <!-- End Classic table -->
                            <!-- End Introduction -->



                            <!-- Payments -->

                        </div>
                    </div>
                    <!-- End Section Content -->
                </div>
            </div>
                    <!-- End Categories -->

                </main>

                <footer class="app-layout-footer">
                    <div class="container p-y-md">
                        <div class="pull-right hidden-sm hidden-xs">
                            <a href="https://shapebootstrap.net/item/1525731-appui-admin-frontend-template/?ref=rustheme" target="_blank" rel="nofollow">Purchase a license</a>
                        </div>
                        <div class="pull-left text-center text-md-left">
                            AppUI &copy; <span class="js-year-copy"></span>
                        </div>
                    </div>
                </footer>

            </div>
            <!-- .app-layout-container -->
        </div>
        <!-- .app-layout-canvas -->

        <!-- Apps Modal -->
        <!-- Opens from the button in the header -->

        <!-- End Apps Modal -->

        <% include ../../partial/script %>

    </body>

    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js" charset="utf-8"></script> -->
    <script src="/javascripts/jquery.dataTables.min.js" charset="utf-8"></script>

  <script type="text/javascript">
      $(document).ready(function() {
      $('#example').DataTable();
    } );
  </script>

</html>
