<!DOCTYPE html>

<html class="app-ui">

<head>
  <!-- Meta -->
  <% include ../../partial/head %>
  <script src="/assets/js/core/jquery.min.js"></script>
  <!-- End Stylesheets -->
</head>

<body class="app-ui layout-has-drawer layout-has-fixed-header">
  <div class="app-layout-canvas">
    <div class="app-layout-container">

      <!-- Drawer -->

            <% include ../../partial/nav-drawer %>

      <!-- End drawer -->

      <!-- Header -->
      <% include ../../partial/header %>
      <!-- End header -->

      <main class="app-layout-content">

        <!-- Page Content -->
        <div class="container-fluid p-y-md">
                            <!-- Section Content -->

                    <div class="row">
                      <div class="col-sm-10 col-sm-offset-1">
                        <!-- Introduction -->
                        <h2 class="h3 m-t-lg m-b">Time Table</h2>
                        <!-- Classic table -->
                        <% if(subj.length < 35){%>
                          <h2>Time Table is not complete for loading</h2>
                        <%}else{%>
                        <h2 class="section-title"><%= subj[0].class %> Class</h2>
                        <div class="card">

                          <div class="table-responsive">
                            <table class="table table-borderless table-header-bg text-center m-b-0">
                              <thead>
                                <tr>
                                  <th class="w-15"></th>
                                  <th class="text-center">1</th>
                                  <th class="text-center">2</th>
                                  <th class="text-center">3</th>
                                  <th class="text-center">4</th>
                                  <th class="text-center">5</th>
                                  <th class="text-center">6</th>
                                  <th class="text-center">7</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td></td>
                                  <td></td>
                                  <td></td>
                                  <td></td>
                                  <td></td>
                                  <td></td>
                                  <td></td>
                                  <% for(var i = 0; i< subj.length; i++){%>
                                    <%if(i== 0 || i%7 == 0){%>
                                    </tr>
                                    <tr>
                                      <td class="font-500 text-left" id="t<%=i%>"></td>
                                      <script type="text/javascript">
                                      console.log();
                                        switch ('<%=subj[i].day%>') {
                                          case '1':
                                            $('#t<%=i%>').html('Monday')
                                            break;
                                          case '2':
                                            $('#t<%=i%>').html('Thursday')
                                            break;
                                          case '3':
                                            $('#t<%=i%>').html('Wednesday')
                                            break;
                                          case '4':
                                            $('#t<%=i%>').html('Tuesday')
                                            break;
                                          case '5':
                                            $('#t<%=i%>').html('Friday')
                                            break;
                                          default:

                                        }
                                      </script>
                                    <%}%>

                                    <td><%= subj[i].subname %></td>

                                  <%}%>
                                </tr>


                              </tbody>
                            </table>
                          </div>

                          <!-- .card-block -->
                        </div>
                        <%}%>
                        <!-- .card -->
                        <!-- End Classic table -->
                        <!-- End Introduction -->



                        <!-- Payments -->

                      </div>
                    </div>
                    <!-- End Section Content -->
                  </div>
                </div>
                <!-- End Categories -->

              </main>

              <footer class="app-layout-footer">
                <div class="container p-y-md">
                  <div class="pull-right hidden-sm hidden-xs">
                    <a href="https://shapebootstrap.net/item/1525731-appui-admin-frontend-template/?ref=rustheme" target="_blank" rel="nofollow">Purchase a license</a>
                  </div>
                  <div class="pull-left text-center text-md-left">
                    AppUI &copy; <span class="js-year-copy"></span>
                  </div>
                </div>
              </footer>

            </div>
            <!-- .app-layout-container -->
          </div>
          <!-- .app-layout-canvas -->

          <!-- Apps Modal -->
          <!-- Opens from the button in the header -->

          <!-- End Apps Modal -->

          <% include ../../partial/script %>

</body>

</html>
